<!DOCTYPE html>
<html lang="en">

<head>
    <%include comm/head.html%>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body class="index">
    <section class="banner start_hidden" qll-bg="url('/images/banner.png') center center / cover no-repeat;">
        <dl>
            <dt></dt>
            <dd>十年的积累，专业的团队</dd>
            <dd>秉承“为客户多想一点，离成功就近一点”的服务理念，</dd>
            <dd>为您提供“专业、及时、诚恳”的服务。</dd>
        </dl>
        <div class="click_down" qll-bg="url(/images/click_down.png) top / cover no-repeat;"></div>
    </section>
    <!-- 头部公共部分-->
    <section class="html_nav_bao start_hidden">
        <section class="html_nav">
            <section class="min_width">
                <div class="logo">
                    <a href=""><img qll-img="/images/logo.jpg" alt="logo" /></a>
                </div>
                <p class="nav_p">
                    <span>
						<a class="on" href="/">首页</a>
						<a class="on" href="/">首页</a>
					</span>
                    <span>
						<a href="/about_us">关于我们</a>
						<a class="on" href="/about_us">关于我们</a>
					</span>
                    <span>
						<a href="/service_all">服务业务</a>
						<a class="on" href="/service_all">服务业务</a>
					</span>
                    <span>
						<a href="">案例项目</a>
						<a class="on" href="">案例项目</a>
					</span>
                    <span>
						<a href="/news_list">新闻动态</a>
						<a class="on" href="/news_list">新闻动态</a>
					</span>
                    <span>
						<a href="/join_us">加入我们</a>
						<a class="on" href="/join_us">加入我们</a>
					</span>
                </p>
                <div class="server">
                    联系客服
                </div>
            </section>
        </section>
    </section>
    <!-- end 头部公共部分-->
    <section class="imagine start_hidden">
        <section class="min_width">
            <div class="left">
                <p>突破想象</p>
                <div></div>
            </div>
            <div class="right">
                <p>北京拓扑高科信息技术有限公司，是专业从事电子商务应用、信息化平台建设、移动互联网与移动APP开发的高新科技企业。</p>
                <p>从03年发展至今，现已掌握大量信息化技术，为解决企业电子商务平台、移动信息化的应用奠定了良好的基础。拥有一批专业从事软件设计、开发、互联网营销的人才，具有雄厚的技术开发实力，全方位满足政府与中小企业信息化需求。“互联网+”催生了新的经济形态，拓扑高科为大众创业、万众创新提供基础技术服务支持。</p>
                <p>作为置身互联网行业资深的技术开发服务商，是与中国互联网共同成长的代表型企业。</p>
            </div>
        </section>
        <div class="bg">
            <div class="bg_1 div_down">
                <div>
                    <img src="/images/triangle_01.png">
                </div>
            </div>
            <div class="bg_2 div_down">
                <div>
                    <img src="/images/triangle_02.png">
                </div>
            </div>
            <div class="bg_3 div_down">
                <div>
                    <img src="/images/triangle_03.png">
                </div>
            </div>
            <div class="bg_4 div_down">
                <div>
                    <img src="/images/triangle_04.png">
                </div>
            </div>
            <div class="bg_5 div_down">
                <div>
                    <img src="/images/triangle_05.png">
                </div>
            </div>
            <div class="bg_6 div_down">
                <div>
                    <img src="/images/triangle_06.png">
                </div>
            </div>
            <div class="bg_7 div_down">
                <div>
                    <img src="/images/triangle_07.png">
                </div>
            </div>
            <div class="bg_8 div_down">
                <div>
                    <img src="/images/triangle_08.png">
                </div>
            </div>
            <div class="bg_9 div_down">
                <div>
                    <img src="/images/triangle_09.png">
                </div>
            </div>
            <div class="bg_10 div_down">
                <div>
                    <img src="/images/triangle_10.png">
                </div>
            </div>
            <div class="bg_11 div_down">
                <div>
                    <img src="/images/triangle_11.png">
                </div>
            </div>
            <div class="bg_12 div_down">
                <div>
                    <img src="/images/triangle_12.png">
                </div>
            </div>
            <div class="bg_13 div_down">
                <div>
                    <img src="/images/triangle_13.png">
                </div>
            </div>
            <div class="bg_14 div_down">
                <div>
                    <img src="/images/triangle_14.png">
                </div>
            </div>
            <div class="bg_15 div_down">
                <div>
                    <img src="/images/triangle_15.png">
                </div>
            </div>
            <div class="bg_16 div_down">
                <div>
                    <img src="/images/triangle_16.png">
                </div>
            </div>
            <div class="bg_17 div_down">
                <div>
                    <img src="/images/triangle_17.png">
                </div>
            </div>
            <div class="bg_18 div_down">
                <div>
                    <img src="/images/triangle_18.png">
                </div>
            </div>
            <div class="bg_19 div_down">
                <div>
                    <img src="/images/triangle_19.png">
                </div>
            </div>
            <div class="bg_20 div_down">
                <div>
                    <img src="/images/triangle_20.png">
                </div>
            </div>
            <div class="bg_21 div_down">
                <div>
                    <img src="/images/triangle_21.png">
                </div>
            </div>
        </div>
        <div class="img_float_1 screen_move">
            <img src="/images/float_1.png" alt="图片">
        </div>
    </section>
    <section class="service start_hidden">
        <section class="min_width" qll-bg="abcde">
            <div class="title">
                <p class="p1">Our</p>
                <p class="p2"></p>
                <p class="p3">我们能做什么</p>
            </div>
            <div class="service_main">
                <div class="div1">
                    <dl class="dl6">
                        <dt></dt>
                        <dd class="dd1">HIGH-END CUSTOM</dd>
                        <dd class="dd2">高端定制网站</dd>
                    </dl>
                    <dl class="dl1">
                        <dt></dt>
                        <dd class="dd1">HIGH-END CUSTOM</dd>
                        <dd class="dd2">高端定制网站</dd>
                    </dl>
                </div>
                <div>
                    <dl class="dl7">
                        <dt></dt>
                        <dd class="dd1">MOBILE WEB SUTE</dd>
                        <dd class="dd2">移动网站建设</dd>
                    </dl>
                    <dl class="dl2">
                        <dt></dt>
                        <dd class="dd1">MOBILE WEB SUTE</dd>
                        <dd class="dd2">移动网站建设</dd>
                    </dl>
                </div>
                <div>
                    <dl class="dl8">
                        <dt></dt>
                        <dd class="dd1">MANAGEMENT SYSTEM</dd>
                        <dd class="dd2">管理系统开发</dd>
                    </dl>
                    <dl class="dl3">
                        <dt></dt>
                        <dd class="dd1">MANAGEMENT SYSTEM</dd>
                        <dd class="dd2">管理系统开发</dd>
                    </dl>
                </div>
                <div>
                    <dl class="dl9">
                        <dt></dt>
                        <dd class="dd1">APP APPLICATION</dd>
                        <dd class="dd2">APP应用程序</dd>
                    </dl>
                    <dl class="dl4">
                        <dt></dt>
                        <dd class="dd1">High-end custom</dd>
                        <dd class="dd2">高端定制网站</dd>
                    </dl>
                </div>
                <div>
                    <dl class="dl10">
                        <dt></dt>
                        <dd class="dd1">INTEGRATED MARKETING</dd>
                        <dd class="dd2">互联网整合营销</dd>
                    </dl>
                    <dl class="dl5">
                        <dt></dt>
                        <dd class="dd1">INTEGRATED MARKETING</dd>
                        <dd class="dd2">互联网整合营销</dd>
                    </dl>
                </div>
            </div>
        </section>
        <div class="img_float_2 screen_move">
            <img src="/images/float_2.png">
        </div>
        <div class="img_float_3 screen_move">
            <img src="/images/float_3.png">
        </div>
    </section>
    <section class="topu start_hidden">
        <div class="mask">
        </div>
        <div class="content">
            <p class="content_p1">为客户多想一点 离成功就近一点
                <br />专业 · 及时 · 真诚</p>
            <p class="content_p2">-拓扑高科-</p>
        </div>
        <div class="img_float_4 screen_move">
            <img qll-img="/images/float_4.png">
        </div>
    </section>
    <section class="process start_hidden">
        <section class="min_width">
            <div class="title">
                <p class="p1">Our</p>
                <p class="p2"></p>
                <p class="p3">我们必须从客户需求出发，因为网站是我们客户直接连接的媒介</p>
            </div>
            <div class="process_main">
                <dl class="dl_1">
                    <dt><img src="/images/process_1.jpg"></dt>
                    <dd class="dd1">深入沟通与专业策划</dd>
                    <dd class="dd2">前期由专业的客户经理针对您的网站功能需求进行深入的分析，并提出专业可实施的网站建设解决方案。</dd>
                </dl>
                <div class="div_1"></div>
                <dl class="dl_2">
                    <dt><img src="/images/process_2.jpg"></dt>
                    <dd class="dd1">精心原创的设计方案</dd>
                    <dd class="dd2">行业资深的网页设计师根据您的意向需求，进行原创设计，用设计提升产品和企业价值。</dd>
                </dl>
                <div class="div_2"></div>
                <dl class="dl_3">
                    <dt><img src="/images/process_3.jpg"></dt>
                    <dd class="dd1">严谨规范的前端制作</dd>
                    <dd class="dd2">最新的H5代码规范编写，使您的网站更易于优化，多终端兼容，生动形象的动画交互，增强用户体验。</dd>
                </dl>
                <div class="div_3"></div>
                <dl class="dl_4">
                    <dt><img src="/images/process_4.jpg"></dt>
                    <dd class="dd1">后端工程师定制开发</dd>
                    <dd class="dd2">根据您的网站项目需求量身定制开发后台，严格的测试，后台操作培训，最终交付给客户产品使用上线。</dd>
                </dl>
            </div>
        </section>
        <div class="img_float_5 screen_move">
            <img src="/images/float_5.png">
        </div>
    </section>
    <section class="clients start_hidden">
        <section class="min_width">
            <div class="title">
                <p class="p1">Our</p>
                <p class="p2"></p>
                <p class="p3">针对不同的客户，制定个性化的指向性的网络推广服务</p>
            </div>
            <ul class="clients_main">
                <li>
                    <img src="/upload_file/clients_1.jpg" class="GrayScale">
                    <svg class="GrayScale">
                        <image xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="204" height="62" />
                    </svg>
                </li>
                <li>
                    <img src="/upload_file/clients_1.jpg" class="GrayScale">
                    <svg class="GrayScale">
                        <image xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="204" height="62" />
                    </svg>
                </li>
                <li>
                    <img src="/upload_file/clients_1.jpg" class="GrayScale">
                    <svg class="GrayScale">
                        <image xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="204" height="62" />
                    </svg>
                </li>
                <li>
                    <img src="/upload_file/clients_1.jpg" class="GrayScale">
                    <svg class="GrayScale">
                        <image xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="204" height="62" />
                    </svg>
                </li>
                <li>
                    <img src="/upload_file/clients_1.jpg" class="GrayScale">
                    <svg class="GrayScale">
                        <image xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="204" height="62" />
                    </svg>
                </li>
                <li>
                    <img src="/upload_file/clients_1.jpg" class="GrayScale">
                    <svg class="GrayScale">
                        <image xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="204" height="62" />
                    </svg>
                </li>
                <li>
                    <img src="/upload_file/clients_1.jpg" class="GrayScale">
                    <svg class="GrayScale">
                        <image xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="204" height="62" />
                    </svg>
                </li>
                <li>
                    <img src="/upload_file/clients_1.jpg" class="GrayScale">
                    <svg class="GrayScale">
                        <image xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="204" height="62" />
                    </svg>
                </li>
                <li>
                    <img src="/upload_file/clients_1.jpg" class="GrayScale">
                    <svg class="GrayScale">
                        <image xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="204" height="62" />
                    </svg>
                </li>
                <li>
                    <img src="/upload_file/clients_1.jpg" class="GrayScale">
                    <svg class="GrayScale">
                        <image xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="204" height="62" />
                    </svg>
                </li>
                <li>
                    <img src="/upload_file/clients_1.jpg" class="GrayScale">
                    <svg class="GrayScale">
                        <image xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="204" height="62" />
                    </svg>
                </li>
                <li>
                    <img src="/upload_file/clients_1.jpg" class="GrayScale">
                    <svg class="GrayScale">
                        <image xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="204" height="62" />
                    </svg>
                </li>
                <li>
                    <img src="/upload_file/clients_1.jpg" class="GrayScale">
                    <svg class="GrayScale">
                        <image xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="204" height="62" />
                    </svg>
                </li>
                <li>
                    <img src="/upload_file/clients_1.jpg" class="GrayScale">
                    <svg class="GrayScale">
                        <image xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="204" height="62" />
                    </svg>
                </li>
                <li>
                    <img src="/upload_file/clients_1.jpg" class="GrayScale">
                    <svg class="GrayScale">
                        <image xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="204" height="62" />
                    </svg>
                </li>
                <li>
                    <img src="/upload_file/clients_1.jpg" class="GrayScale">
                    <svg class="GrayScale">
                        <image xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="204" height="62" />
                    </svg>
                </li>
            </ul>
            <p class="clients_p">我们会根据您网站的行业特性网站特色来进行精准的定位，为您提出方案建议</p>
        </section>
        <div class="img_float_6 screen_move">
            <img src="/images/float_6.png">
        </div>
        <div class="img_float_7 screen_move">
            <img src="/images/float_7.png">
        </div>
    </section>
    <section class="project start_hidden">
        <div class="title">
            <p class="p1">Our</p>
            <p class="p2"></p>
            <p class="p3">成熟的技术团队，为您提供贴心的服务</p>
        </div>
        <div class="project_span">
            <span class="on">全部</span>
            <span>数字化品牌包装</span>
            <span>社会化营销</span>
            <span>设计与开发</span>
        </div>
        <div class="project_div">
            <div class="ul_bao">
                <ul>
                    <li>
                        <img src="/upload_file/project_1.jpg" alt="图片">
                        <div class="mask">
                            <dl>
                                <dt></dt>
                                <dd class="dd1">三天游·时尚旅游</dd>
                                <dd class="dd2">微信活动中的贯穿应用</dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <img src="/upload_file/project_1.jpg" alt="图片">
                        <div class="mask">
                            <dl>
                                <dt></dt>
                                <dd class="dd1">三天游·时尚旅游</dd>
                                <dd class="dd2">微信活动中的贯穿应用</dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <img src="/upload_file/project_1.jpg" alt="图片">
                        <div class="mask">
                            <dl>
                                <dt></dt>
                                <dd class="dd1">三天游·时尚旅游</dd>
                                <dd class="dd2">微信活动中的贯穿应用</dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <img src="/upload_file/project_1.jpg" alt="图片">
                        <div class="mask">
                            <dl>
                                <dt></dt>
                                <dd class="dd1">三天游·时尚旅游</dd>
                                <dd class="dd2">微信活动中的贯穿应用</dd>
                            </dl>
                        </div>
                    </li>
                    <li class="li_bot">
                        <img src="/upload_file/project_1.jpg" alt="图片">
                        <div class="mask">
                            <dl>
                                <dt></dt>
                                <dd class="dd1">三天游·时尚旅游</dd>
                                <dd class="dd2">微信活动中的贯穿应用</dd>
                            </dl>
                        </div>
                    </li>
                    <li class="li_bot">
                        <img src="/upload_file/project_1.jpg" alt="图片">
                        <div class="mask">
                            <dl>
                                <dt></dt>
                                <dd class="dd1">三天游·时尚旅游</dd>
                                <dd class="dd2">微信活动中的贯穿应用</dd>
                            </dl>
                        </div>
                    </li>
                    <li class="li_bot">
                        <img src="/upload_file/project_1.jpg" alt="图片">
                        <div class="mask">
                            <dl>
                                <dt></dt>
                                <dd class="dd1">三天游·时尚旅游</dd>
                                <dd class="dd2">微信活动中的贯穿应用</dd>
                            </dl>
                        </div>
                    </li>
                    <li class="li_bot">
                        <img src="/upload_file/project_1.jpg" alt="图片">
                        <div class="mask">
                            <dl>
                                <dt></dt>
                                <dd class="dd1">三天游·时尚旅游</dd>
                                <dd class="dd2">微信活动中的贯穿应用</dd>
                            </dl>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <img src="/upload_file/project_2.jpg" alt="图片">
                        <div class="mask">
                            <dl>
                                <dt></dt>
                                <dd class="dd1">三天游·时尚旅游</dd>
                                <dd class="dd2">微信活动中的贯穿应用</dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <img src="/upload_file/project_2.jpg" alt="图片">
                        <div class="mask">
                            <dl>
                                <dt></dt>
                                <dd class="dd1">三天游·时尚旅游</dd>
                                <dd class="dd2">微信活动中的贯穿应用</dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <img src="/upload_file/project_2.jpg" alt="图片">
                        <div class="mask">
                            <dl>
                                <dt></dt>
                                <dd class="dd1">三天游·时尚旅游</dd>
                                <dd class="dd2">微信活动中的贯穿应用</dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <img src="/upload_file/project_2.jpg" alt="图片">
                        <div class="mask">
                            <dl>
                                <dt></dt>
                                <dd class="dd1">三天游·时尚旅游</dd>
                                <dd class="dd2">微信活动中的贯穿应用</dd>
                            </dl>
                        </div>
                    </li>
                    <li class="li_bot">
                        <img src="/upload_file/project_2.jpg" alt="图片">
                        <div class="mask">
                            <dl>
                                <dt></dt>
                                <dd class="dd1">三天游·时尚旅游</dd>
                                <dd class="dd2">微信活动中的贯穿应用</dd>
                            </dl>
                        </div>
                    </li>
                    <li class="li_bot">
                        <img src="/upload_file/project_2.jpg" alt="图片">
                        <div class="mask">
                            <dl>
                                <dt></dt>
                                <dd class="dd1">三天游·时尚旅游</dd>
                                <dd class="dd2">微信活动中的贯穿应用</dd>
                            </dl>
                        </div>
                    </li>
                    <li class="li_bot">
                        <img src="/upload_file/project_2.jpg" alt="图片">
                        <div class="mask">
                            <dl>
                                <dt></dt>
                                <dd class="dd1">三天游·时尚旅游</dd>
                                <dd class="dd2">微信活动中的贯穿应用</dd>
                            </dl>
                        </div>
                    </li>
                    <li class="li_bot">
                        <img src="/upload_file/project_2.jpg" alt="图片">
                        <div class="mask">
                            <dl>
                                <dt></dt>
                                <dd class="dd1">三天游·时尚旅游</dd>
                                <dd class="dd2">微信活动中的贯穿应用</dd>
                            </dl>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <img src="/upload_file/project_2.jpg" alt="图片">
                        <div class="mask">
                            <dl>
                                <dt></dt>
                                <dd class="dd1">三天游·时尚旅游</dd>
                                <dd class="dd2">微信活动中的贯穿应用</dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <img src="/upload_file/project_2.jpg" alt="图片">
                        <div class="mask">
                            <dl>
                                <dt></dt>
                                <dd class="dd1">三天游·时尚旅游</dd>
                                <dd class="dd2">微信活动中的贯穿应用</dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <img src="/upload_file/project_2.jpg" alt="图片">
                        <div class="mask">
                            <dl>
                                <dt></dt>
                                <dd class="dd1">三天游·时尚旅游</dd>
                                <dd class="dd2">微信活动中的贯穿应用</dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <img src="/upload_file/project_2.jpg" alt="图片">
                        <div class="mask">
                            <dl>
                                <dt></dt>
                                <dd class="dd1">三天游·时尚旅游</dd>
                                <dd class="dd2">微信活动中的贯穿应用</dd>
                            </dl>
                        </div>
                    </li>
                    <li class="li_bot">
                        <img src="/upload_file/project_2.jpg" alt="图片">
                        <div class="mask">
                            <dl>
                                <dt></dt>
                                <dd class="dd1">三天游·时尚旅游</dd>
                                <dd class="dd2">微信活动中的贯穿应用</dd>
                            </dl>
                        </div>
                    </li>
                    <li class="li_bot">
                        <img src="/upload_file/project_2.jpg" alt="图片">
                        <div class="mask">
                            <dl>
                                <dt></dt>
                                <dd class="dd1">三天游·时尚旅游</dd>
                                <dd class="dd2">微信活动中的贯穿应用</dd>
                            </dl>
                        </div>
                    </li>
                    <li class="li_bot">
                        <img src="/upload_file/project_2.jpg" alt="图片">
                        <div class="mask">
                            <dl>
                                <dt></dt>
                                <dd class="dd1">三天游·时尚旅游</dd>
                                <dd class="dd2">微信活动中的贯穿应用</dd>
                            </dl>
                        </div>
                    </li>
                    <li class="li_bot">
                        <img src="/upload_file/project_2.jpg" alt="图片">
                        <div class="mask">
                            <dl>
                                <dt></dt>
                                <dd class="dd1">三天游·时尚旅游</dd>
                                <dd class="dd2">微信活动中的贯穿应用</dd>
                            </dl>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <img src="/upload_file/project_1.jpg" alt="图片">
                        <div class="mask">
                            <dl>
                                <dt></dt>
                                <dd class="dd1">三天游·时尚旅游</dd>
                                <dd class="dd2">微信活动中的贯穿应用</dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <img src="/upload_file/project_1.jpg" alt="图片">
                        <div class="mask">
                            <dl>
                                <dt></dt>
                                <dd class="dd1">三天游·时尚旅游</dd>
                                <dd class="dd2">微信活动中的贯穿应用</dd>
                            </dl>
                        </div>
                        <li>
                            <img src="/upload_file/project_1.jpg" alt="图片">
                            <div class="mask">
                                <dl>
                                    <dt></dt>
                                    <dd class="dd1">三天游·时尚旅游</dd>
                                    <dd class="dd2">微信活动中的贯穿应用</dd>
                                </dl>
                            </div>
                        </li>
                        <li>
                            <img src="/upload_file/project_1.jpg" alt="图片">
                            <div class="mask">
                                <dl>
                                    <dt></dt>
                                    <dd class="dd1">三天游·时尚旅游</dd>
                                    <dd class="dd2">微信活动中的贯穿应用</dd>
                                </dl>
                            </div>
                        </li>
                        <li class="li_bot">
                            <img src="/upload_file/project_1.jpg" alt="图片">
                            <div class="mask">
                                <dl>
                                    <dt></dt>
                                    <dd class="dd1">三天游·时尚旅游</dd>
                                    <dd class="dd2">微信活动中的贯穿应用</dd>
                                </dl>
                            </div>
                        </li>
                        <li class="li_bot">
                            <img src="/upload_file/project_1.jpg" alt="图片">
                            <div class="mask">
                                <dl>
                                    <dt></dt>
                                    <dd class="dd1">三天游·时尚旅游</dd>
                                    <dd class="dd2">微信活动中的贯穿应用</dd>
                                </dl>
                            </div>
                        </li>
                        <li class="li_bot">
                            <img src="/upload_file/project_1.jpg" alt="图片">
                            <div class="mask">
                                <dl>
                                    <dt></dt>
                                    <dd class="dd1">三天游·时尚旅游</dd>
                                    <dd class="dd2">微信活动中的贯穿应用</dd>
                                </dl>
                            </div>
                        </li>
                        <li class="li_bot">
                            <img src="/upload_file/project_1.jpg" alt="图片">
                            <div class="mask">
                                <dl>
                                    <dt></dt>
                                    <dd class="dd1">三天游·时尚旅游</dd>
                                    <dd class="dd2">微信活动中的贯穿应用</dd>
                                </dl>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="contact start_hidden">
        <div class="title">
            <p class="p2"></p>
            <p class="p3">我们将根据贵公司的需求为您制定高性价比的外包服务(组合)方案！</p>
        </div>
        <div class="contact_main">
            <div class="mask"></div>
            <div class="content">
                <dl>
                    <dt>ADDRESS</dt>
                    <dd>北京市东城区礼士宾馆写字楼七层</dd>
                </dl>
                <dl>
                    <dt>PHONE</dt>
                    <dd>010-65277952</dd>
                </dl>
                <dl>
                    <dt>FAX</dt>
                    <dd>010-65250710</dd>
                </dl>
                <dl>
                    <dt>E-mail</dt>
                    <dd>Service@topu.net</dd>
                </dl>
            </div>
        </div>
        <div class="img_float_8 screen_move">
            <img src="/images/float_8.png">
        </div>
    </section>
    <section class="form start_hidden">
        <section class="min_width">
            <div class="left">
                <div class="div_left_1">
                    <div class="div1">
                    </div>
                    <div class="div2">
                        <p>企业宣传站、企业门户站、电子商务网站到底需要哪个？</p>
                    </div>
                </div>
                <div class="mar_lef div_left_2">
                    <div class="div1">
                    </div>
                    <div class="div2">
                        <p>如何选择建站公司？</p>
                    </div>
                </div>
                <div class="mar_lef div_left_3">
                    <div class="div1">
                    </div>
                    <div class="div2">
                        <p>如何将网站推广做得更有效？</p>
                    </div>
                </div>
                <div class="mar_top div_left_4">
                    <div class="div1">
                    </div>
                    <div class="div2">
                        <p>模板建站和定制建站的区别？</p>
                    </div>
                </div>
                <div class="mar_top mar_lef div_left_5">
                    <div class="div1">
                    </div>
                    <div class="div2">
                        <p>建站后为什么一定要源代码？</p>
                    </div>
                </div>
                <div class="mar_top mar_lef div_left_6">
                    <div class="div1">
                    </div>
                    <div class="div2">
                        <p>什么是定制网站开发？</p>
                    </div>
                </div>
                <div class="mar_top div_left_7">
                    <div class="div1">
                    </div>
                    <div class="div2">
                        <p>廉价网站带来的版权官司？</p>
                    </div>
                </div>
                <div class="mar_top mar_lef div_left_8">
                    <div class="div1">
                    </div>
                    <div class="div2">
                        <p>PC站、手机站、微信站一站到底？</p>
                    </div>
                </div>
                <div class="mar_top mar_lef div_left_9">
                    <div class="div1">
                    </div>
                    <div class="div2">
                        <p>网站只是企业的面子工程么？还可以为我们带来什么?</p>
                    </div>
                </div>
            </div>
            <div class="right">
                <form>
                    <p>您需要什么服务类型</p>
                    <div class="right_div1">
                        <input type="text" name="type" class="type" /><span></span>
                    </div>
                    <p>您的全名</p>
                    <input type="text" name="name" class="name" placeholder="您的全名" />
                    <p>您的邮件地址</p>
                    <input type="text" name="cmail" class="cmail" placeholder="您的邮件地址" />
                    <p>您的联系电话</p>
                    <input type="text" name="phone" class="phone" placeholder="您的联系电话" />
                    <p>您有什么需要补充的？</p>
                    <input type="text" name="supplement" class="supplement" placeholder="您有什么需要补充的？" />
                    <input class="submit" type="button" value="提交">
                    <input class="reset" type="button" value="重置">
                    <div class="list">
                        <span class="list_close"></span>
                        <ul>
                            <li class="on">
                                <p>我要做一个新网站</p>
                            </li>
                            <li>
                                <p>我要做一个新网站</p>
                            </li>
                            <li>
                                <p>我要做一个新网站</p>
                            </li>
                            <li>
                                <p>我要做一个新网站</p>
                            </li>
                            <li>
                                <p>我要做一个新网站</p>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </section>
        <div class="img_float_9 screen_move">
            <img src="/images/float_9.png">
        </div>
    </section>
    <%include comm/footer.html%>
        <section class="start_hidden">
            <svg class="svg_hidden" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <filter id="grayscale">
                    <feColorMatrix type="matrix" values="0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0" />
                </filter>
            </svg>
        </section>
        <script data-main="/widget/main.js" src="/inc/require.js" id="script_page" page="index"></script>
</body>

</html>
