    <!-- 头部公共部分-->
    <section class="html_nav_bao">
        <section class="html_nav">
            <section class="html_nav_top">
                <section class="min_width">
                    <p class="p_left">您好，欢迎来到拓扑高科</p>
                    <p class="p_right"><a href="">商务合作</a>|<a href="">售后服务</a>|<a href="">营销推广</a></p>
                </section>
            </section>
            <section class="min_width">
                <div class="logo">
                    <a href="/"><img src="/images/logo.jpg" alt="logo" /></a>
                </div>
                <p class="nav_p">
                    <span>
                        <a <%if(menu==1){%> class="on" <%}%> href="/">首页</a>
                        <a class="on" href="/">首页</a>
                    </span>
                    <span>
                        <a <%if(menu==2){%> class="on" <%}%> href="/about_us">关于我们</a>
                        <a class="on" href="/about_us">关于我们</a>
                    </span>
                    <span>
                        <a <%if(menu==3){%> class="on" <%}%> href="/service_all">服务业务</a>
                        <a class="on" href="/service_all">服务业务</a>
                    </span>
                    <span>
                        <a <%if(menu==4){%> class="on" <%}%> href="/project">案例项目</a>
                        <a class="on" href="/project">案例项目</a>
                    </span>
                    <span>
                        <a <%if(menu==5){%> class="on" <%}%> href="/news_list">新闻动态</a>
                        <a class="on" href="/news_list">新闻动态</a>
                    </span>
                    <span>
                        <a <%if(menu==6){%> class="on" <%}%> href="/join_us">加入我们</a>
                        <a class="on" href="/join_us">加入我们</a>
                    </span>
                </p>
                <div class="server">
                    联系客服
                </div>
            </section>
        </section>
    </section>
    <!-- end 头部公共部分-->